* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 94%;
    margin: 0 0 0 auto;

}

/* ---------------------------------- */
/* -----------NAVBAR------------ */
/* ----------------------------------- */

.navbar-container {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    margin-top: 2.5rem;
}

[alt="brand-logo"] {
    width: 8rem;
}

.list {
    display: flex;
    justify-content: start;
    text-decoration: none;
    margin-top:0.6rem;
    padding-left: 2rem;
}

.list-item {
     display: inline-block;
     margin: 0 1rem;
     font-size: 1rem;
     color: #C2C2C2;
     cursor: pointer;
}


.list-item:first-child,.list-item:hover {
    color: #000000;
}

.button-group {
    margin-left: 5rem;
}

.nav-button {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-size: 0.8rem;
    background-color: #5955B3;
    color: #ffffff;
    border: none;
    border-radius: 0.7rem;
    font-weight: 300;
    
}


/* ------------------------------ */
/* ---------BANNER------------ */
/* ------------------------------ */

.btn {
    padding: 1.2rem 2rem;
    background-color: #5955B3
}

.banner-container {
    display: flex;
    margin-top:3rem;
}

.heading-text {
    font-size: 4rem;
    margin-top: 6rem;
    color: #3C2F60;
    line-height: 5rem;
    font-weight: 600;
}

.description {
    color: #A6A6A6;
    text-align: justify;
    padding-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.banner-container div h1 span {
    color:#5955B3
}



